<%= form_for [@driver, @availability] do |f| %>
	<div class="availabilityDropdowns">
		<%= f.select :day_of_week, day_array(f.object.new_record?), {}, {class: "dayDropDown"} %>
		<%= f.select :start_hour, hour_array(f.object.new_record?) %> -
		<%= f.select :end_hour, hour_array(f.object.new_record?) %>
		<% if !f.object.new_record? %>
			<%= link_to "X", driver_availability_path(@driver, f.object.id), {method: :delete} %>
		<% end %>
	</div>
	<%= f.submit %>
<% end %>
