<h1>Availabilities for <%= @driver.name %></h1>

<ul>
<% @availabilities.each do |a| %>
	<li>
		<%= link_to edit_driver_availability_path(@driver, a) do %>
			<%= Date::DAYNAMES[a.day_of_week] %>,
			<%= hour_friendly(a.start_hour) %> - <%= hour_friendly(a.end_hour) %>
		<% end %>
	</li>
<% end %>
</ul>

<%= link_to "add a new availability", new_driver_availability_path(@driver) %>
