<!DOCTYPE html>
<html>
<head>
  <title>PizzaDelivery</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if !current_user %>
  <%= link_to "Sign Up", new_driver_path %>
  <%= link_to "Log In", new_sessions_path %>
<% else %>
  Hello, <%= current_user.name %>
  <%= link_to "Log Out", sessions_path, :method => :delete %>
<% end %>

<hr />

<%= yield %>

</body>
</html>
